<template>
  <div class="mainDiv">
    <div style="width: 97%">
      <div
        class="select"
      >
        <div style="display: flex">
          <div
            v-for="item in children"
            v-on:click="handleChange(undefined, item, undefined)"
            :key="item.message"
            class="checkedFruitsDiv"
          >
            <p>{{ item }}</p>
            <p>x</p>
          </div>
        </div>
        <p
          v-if="children.length === 0"
          class="placeholder_P"
          v-on:click="showList === 'block' ? showList = 'none' : showList = 'block'"
        >
          Select your favourite(s)
        </p>
        <img
          v-if="showList === 'none'"
          src="../assets/arrowBottom.svg"
          alt="arrow bottom"
          class="arrowBottom"
          v-on:click="showList === 'block' ? showList = 'none' : showList = 'block'"
        >
        <div 
          v-if="showList === 'block'"
          v-on:click="showList === 'block' ? showList = 'none' : showList = 'block'"
        >
          <span v-on:click="deleteAllItems" style="margin-right: 20px">X</span>
          <img
            src="../assets/arrowTop.svg"
            alt="arrow bottom"
            class="arrowBottom"
          >
        </div>
      </div>
      <div v-if="showList === 'block'" class="listMainDiv">
        <div v-for="(item, index) in list" :key="item.message">
          <div class="mainLabel">
            <img
              v-if="showCreature[item.label] === 'none'"
              src="../assets/arrowBottom.svg"
              alt="arrowBottom"
              class="arrowBottom"
              v-on:click="showCreature[item.label] === 'none' ? showCreature[item.label] = 'block' : showCreature[item.label] = 'none' "
            >
            <img
              v-if="showCreature[item.label] === 'block'"
              src="../assets/arrowTop.svg"
              alt="arrowTop"
              class="arrowBottom"
              v-on:click="showCreature[item.label] === 'none' ? showCreature[item.label] = 'block' : showCreature[item.label] = 'none' "
            >
            <input
              v-on:click="handleChange(item.label, undefined, index)"
              type="checkbox"
              id="button"
            >
            <span>{{ item.label }}</span>
          </div>
           <!-- eslint-disable-next-line vue/no-use-v-if-with-v-for -->
          <div v-if="showCreature[item.label] === 'none'" class="childrenLabel" v-for="item2 in item.children" :key="item2.message">
            <input
              v-on:click="handleChange(item, item2.label, undefined)"
              type="checkbox"
              :checked="children.find((elem) => elem === item2.label) ? true : false"
            >
            <span>{{ item2.label }}</span>
          </div>
        </div>
      </div>
      <div class="divValues">
        <div>
          {{ children }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { createApp } from "vue";
import axios from "axios";
import VueAxios from "vue-axios"
import App from "../App.vue"
createApp(App).use(VueAxios, axios)
  export default {
    name: "TodoList",
    data() {
      return {
        list: undefined,
        showList: 'none',
        checked: {
          Fruits: '',
          Vegetables: ''
        },
        showCreature: {
          Fruits: "none",
          Vegetables: "none",
        },
        children: [],
      }
    },
    mounted() {
      // !TODO: so that we want to get the json, we must open the terminal and open 2 nodes, in first node we must run this command: npx json-server --watch data/db.json --port 3000, in second node we must run this command: npm run serve 
      axios.get('http://localhost:3000/options').then((resp) => {
        this.list=resp.data
      })
    },
    methods: {
      handleChange(label, item, index) {
        console.log(this.ll)
        if (index !== undefined) {
          if (this.checked[label] === '') {
            this.children = [...this.children, ...this.list[index]?.children.map((item) => item.label)]
            this.checked[label] = label
            return;
          }
          this.checked[label] = ''
          this.list[index]?.children.forEach((i) => {
            const removedIndex = this.children.findIndex((e) => i === e.label)
            this.children.splice(removedIndex, 1)
          })
        }
        if (item !== undefined) {
          if (this.children.find((arrI) => arrI === item)) {
            const index = this.children.findIndex((arrItem) => arrItem === item)
            if (index > -1) {
              this.children.splice(index, 1)
              return;
            }
          }
          this.children.push(item);
        }
      },
      deleteAllItems() {
        this.children = []
        this.checked.Fruits = ''
        this.checked.Vegetables = ''
      }
    }
  }
</script>

<style scoped>
.mainDiv {
  width: 70%;
  border: 1px solid #CDCDCD;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}
.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CDCDCD;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
}
.placeholder_P {
  width: 90%;
  margin-left: 10px;
  color: #737373
}
.select img {
  margin-right: 10px;
}
.arrowBottom {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.listMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid #CDCDCD;
  width: 100%;
  height: max-content;
  background: #FAFAFA;
  border-radius: 6px;
}
.mainLabel {
  width: max-content;
  margin-left: 10px;
  margin-bottom: 5px
}
.childrenLabel {
  width: max-content;
  margin-left: 30px;
  margin-bottom: 5px
}
.childrenLabel input {
  width: 17px;
  height: 17px;
}
.mainLabel input {
  width: 17px;
  height: 17px;
}
.checkedFruitsDiv {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  background: #1D6ECF;
  border-radius: 10%;
  margin-left: 10px;
}
.checkedFruitsDiv p {
  color: #FFFFFF
}
.divValues {
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  background: #F2F2F2;
}
.divValues :first-child {
  width: max-content;
}
</style>